{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Listings</h2>
    {% if listings %}
      {% for listing in listings %}
        <div class="row" style="margin-top: 20px;">
            <div class="col-1">
                <a href="{% url 'listings' listing.id %}">
                    <img class="thumbnail" src="{{ listing.image }}">
                </a></div>
            <div class="col-6">    
              {% if listing.active != True %}
                <h4>{{ listing.title }}<span style="color: red; font-size: 18px; margin-left: 30px;">Closed</span></h4>
                {% for bid in bids %}
                    {% if bid.title == listing %}
                        <h5>Price: ${{ bid.bid }}</h5>
                    {% endif %}
                {% endfor %}
                <br>
                <h6>{{ listing.description }}</h6>
                <br>
                Created {{ listing.date_created }}
                {% else %}
                    <h4>{{ listing.title }}<span style="color: green; font-size: 18px; margin-left: 30px;">Active</span></h4>
                  {% for bid in bids %}
                      {% if bid.title == listing %}
                          <h5>Price: ${{ bid.bid }}</h5>
                      {% endif %}
                  {% endfor %}
                  <br>
                  <h6>{{ listing.description }}</h6>
                  <br>
                  Created {{ listing.date_created }}
              {% endif %}
            </div>
        </div>
        <hr>
      {% endfor %}
    {% else %}
      <h6>You don't have any listing. Create <a href="{% url 'create' %}">Here</a></h6>
    {% endif %}
    {% if listings.has_other_pages %}
        <div class="d-flex align-items-center justify-content-center">
            <ul class="pagination" style="border: 1px solid gray;">
            {% if listings.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ listings.previous_page_number }}">< Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link"><</a></li>
            {% endif %}
            {% for i in listings.paginator.page_range %}
                {% if listings.number == i %}
                  <li class="page-item"><a class="page-link">{{ i }}</a></li> 
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if listings.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ listings.next_page_number }}">Next ></a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">></a></li>
            {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}