@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

textarea {
    min-height: 400px;
}

.emailsDiv {
    display: flex;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1px;
}

.emailsDiv p {
    margin: 0;
}

.emailsDiv #subject {
    margin: 0 20px;
}

.emailsDiv #timestamp {
    margin-left: auto;
    margin-right: 0;
    
}

#email p {
    white-space: pre-wrap;
    margin: 0;
}