{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block main %}
  <div class="container">
    <form action="/login" method="post">
      <fieldset>
        <legend>Login</legend>
        <div class="mb-3">
          <label for="email">Email</label>
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
      </fieldset>
    </form>
  </div>
{% endblock %}