{% extends "layout.html" %}

{% block title %}
  My Recipes
{% endblock %}

{% block main %}
  <div class="title-bar">
    <h4>My Recipes</h4>
  </div>
  {% for recipe in recipes %}
  <div class="container-browse">
    <div class="edit">
      <tr>
        <td><a href="/edit_recipe/{{ recipe.id }}" id="edit" class="btn btn-secondary bi bi-gear-fill"></a></td>
      <tr>
    </div>
    <div class="d-flex" onclick="toggleTable(this)">
      <table class="col-md" style="cursor: pointer;">
        <tr>
          <th><img src="{{ recipe.photo }}" class="recipe-photo"></th>
          <th class="w-75" style="font-size: 30px; padding: 100px;">{{ recipe.recipe_name }}</th>
        </tr>
      </table>
    </div>
    <table class="table table-borderless" style="display:none">
      <tr>
        <th class="w-25">Ingredients</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td><pre style="line-height: 2;">{{ recipe.ingredients }}</pre></td>
        <td><pre style="white-space: pre-wrap;">{{ recipe.instructions }}</pre></td>
      </tr>
    </table>
  </div>

  <script>
    function toggleTable(table) {
      const ingredientsTable = table.nextElementSibling;
      ingredientsTable.style.display = ingredientsTable.style.display === "none" ? "table" : "none";
    }
  </script>
  {% endfor %}
{% endblock %}