{% extends "layout.html" %}

{% block title %}
  Change Password
{% endblock %}

{% block main %}
  <div class="container">
    <form action="/password" method="post">
      <fieldset>
        <legend>Change Password</legend>
        <div class="mb-3">
          <input autofocus class="form-control mx-auto w-auto" type="password" placeholder="Current Password" name="currentPass" required>
        </div>
        <div class="mb-3">
          <input class="form-control mx-auto w-auto"  type="password" placeholder="New Password" name="newPass" required>
        </div>
        <div class="mb-3">
          <input class="form-control mx-auto w-auto"  type="password" placeholder="Confirm Password" name="confPass" required>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-success">Save Changes</button>
        </div>
        <a href="/settings" class="btn btn-danger">Back</a>
      </fieldset>
    </form>
  </div>
{% endblock %}